.footer {
  padding: 40px 0 60px 0;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  color: var(--accent-color);
  padding: 0 32px;
}

.footer-content {
  margin: 60px 0;
}

.footer a:visited,
.footer a:link {
  color: var(--accent-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--title-color);
}

.footer a:visited .outer_bDW,
.border_2yy,
.logo_2gS {
  color: var(--text-color);
}

.footer-content__form {
  margin: 30px 0 0 0;
}

.footer-content__form-heading {
  font-family: 'Kanit', sans-serif;
  margin-bottom: 15px;
}

.footer-content__email-field,
.footer-content__email-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--footer-font-size-l);
  text-transform: capitalize;
  width: 100%;
  height: 60px;
  border: 0;
  text-align: center;
}

.footer-content__email-field {
  margin: 0 0 7px 0;
  background: var(--footer-email-color);
}

.footer-content__email-button {
  background-color: var(--text-color);
}

.footer-rights {
  margin-bottom: 60px;
  text-transform: capitalize;
  color: var(--accent-color);
}

.item-content {
  margin-top: 17px;
}

.item-content__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socials__container {
  width: 30px;
  height: 30px;
}

.item-content__logo {
  width: 127px;
}

.item-content__socials {
  display: flex;
  justify-content: center;
  margin: 47px 0;
}

.item-content__heading {
  margin: 30px 0 0 0;
  text-transform: capitalize;
  color: var(--title-color);
  font-size: 19px;
}

.content-heading {
  letter-spacing: 1.1px;
  font-size: 15px;
  margin: 47px 0;
}

.socials-container__color {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--text-color);
}

@media (min-width: 768px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  .item-content__socials {
    justify-content: left;
  }

  .footer {
    padding: 15px 0 0 0;
  }

  .content-heading {
    letter-spacing: 1.1px;
    font-size: 14px;
    text-align: left;
  }

  .item-content__logo {
    margin: 0;
    padding: 6px 0 0 0;
  }

  .content-heading {
    margin: 0;
  }

  .content-details {
    justify-self: left;
  }

  .item-content {
    font-size: 15px;
    margin: 0 0 20px 0;
  }

  .item-content__heading {
    font-weight: 600;
    font-size: 19px;
    margin: 0;
  }

  .footer-content__item {
    margin: 0 10px;
  }

  .footer-content__form {
    margin: 0;
  }

  .item-content {
    text-align: left;
  }

  .footer-content__form-heading {
    margin: 0 0 20px 0;
    font-size: 23px;
    text-transform: capitalize;
    text-align: left;
    color: var(--title-color);
    font-weight: 500;
  }

  .footer-content__email-field,
  .footer-content__email-button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: var(--footer-font-size-m);
    text-transform: capitalize;
    width: 100%;
    height: 47px;
    border: 0;
    text-align: center;
  }
}