.gym-quotes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.gym-quotes__carousel-text-container {
    color: var(--accent-color);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
