.articles__tittle {
    text-align: center;
    margin: auto;
    font-family: sans-serif;
}
.articles__strong {
    text-align: left;
}
.articles__simulator {
    text-align: center;
}
.articles__coach {
    text-align: right;
}
.articles__list {
    display: inline-block;
}
.articles__img__women {
    width: 30px;
}
.articles__img__simulator {
    width: 30px;
}
.articles__img__coach {
    width: 30px;
}
