.gallery-carousel {
  padding: 40px 24px 80px;
}

.gallery-carousel__photo-container {
  display: grid;
}

.gallery-carousel__slide img {
  aspect-ratio: 272 / 257;
}

li {
  list-style-type: none;
}

.gallery-carousel__button--left, .gallery-carousel__button--right {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    border-radius: 50%;
    border: none;
}

.gallery__left-arrow
{
    transform: rotate(180deg);
}

.gallery-carousel svg {
    width: 12px;
    height: 12px;
    opacity: 0.8;
}

