.gallery-carousel {
  padding: 40px 24px 80px;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 98% 1fr;
  min-height: 222px;
  margin: auto;
}

.gallery-carousel__photo-container {
 display: flex;
 justify-content: center;
 align-self: center;
 gap: 15px;
 
}

.gallery-carousel__slide img {
  aspect-ratio: 272 / 257;
  max-height: 272px;
}

.gallery-carousel__button--prev, .gallery-carousel__button--next {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    border-radius: 50%;
    border: none;
}

.gallery__left-arrow
{
    transform: rotate(180deg);
}

.gallery-carousel svg {
    width: 50%;
    margin: auto;
    opacity: 0.8;
}

@media (min-width: 768px) {
  .gallery-carousel__slide img {
    max-height: 345px;
  }
  
}

@media (min-width: 992px) {
  .gallery-carousel__slide img {
    max-height: 219px;
  }
}
