.info-section{
    display: flex;
    padding: 40px 20px;
    justify-content: space-between;
   
}
.info-block{
    width: 270px;

}
.info-block__icon{
    width: 50px;
}

.info-block__subtitle{
    color: var( --title-color);
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 23px;
    padding: 10px 0px 20px;
}

.info-block__text{
    color: #8f8f8f;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    
}

@media (max-width: 992px) {
    .info-section {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .info-block {
        padding-right: 70px;
        padding-bottom: 30px;
        
    }

    .info-block__text{
        width: 400px;
    }

}

