.invitation__content {
    margin: 70px 0;
    padding: 39px;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #191919;
    text-align: center;
    background: var(--text-color);
    padding: 59px 39px 59px 39px;
}

.invitation__content-heading {
    font-family: 'Kanit', sans-serif;
    font-size: 29px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px 0;
}


.invitation__content-article {
    height: auto;
    margin: 0 0 30px 0;
    font-size: 19px;
}

.invitation__content-button {
    border: 0;
    width: 135px;
    height: 49px;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--title-color);
    background-color: #191919;
}

.invitation a:visited,
.invitation a:link {
    width: 135px;
    height: 49px;
    text-decoration: none;
    color: var(--title-color);
}

.invitation a:hover {
    width: 135px;
    height: 49px;
    color: var(--background-color);
    background: var(--title-color);
}

.invitation__content-button--item {
    transition: 1s;
}

@media (min-width: 768px) {
    .invitation__content-heading {
        font-size: 33px;
    }

    .invitation__content-article {
        font-size: 19px;
    }
};;

@media (min-width: 992px) {
    .invitation__content-heading {
        font-size: 36px;
    }

    .invitation__content-article {
        font-size: 19px;
    }
}