.personal-training {
    display: flex;
    flex-wrap: wrap;
    padding: 80px  24px 0px 24px;
}

.plank-exercise__image {
    padding: 0px 0px 80px;

}

.personal-training__info {
    align-items: center;
}

.personal-training__title {
    color: var(--title-color);
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 46px;
}

.personal-training__subtitle {
    color: var(--basic-text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 25px;
}

.personal-training__text {
    color: var(--accent-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.button__explore {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15.4px;
    border: 1px solid #fff;
    color: var(--title-color);
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.button__explore:hover {
    background-color: var(--title-color);
    color: black;
}

@media (min-width: 768px) {
    .personal-training {
        justify-content: space-evenly;
    }

    .personal-training__info {
        width: 402px;
        padding: 0px 50px 0px 50px;
    }

    .plank-exercise__image {
        width: 302px;
        padding: 0px 0px 80px;
    }
}

@media (min-width: 992px) {
    .personal-training {
        justify-content: space-around;
        align-items: center;
    }

    .plank-exercise__image {
        width: 406px;
    }

    .personal-training__info {
        width: 406px;
    }
}

@media (min-width: 1280px) {

    .plank-exercise__image {
        width: 535px;
    }

    .personal-training__info {
        width: 535px;
    }
}
