.group-training {
    margin: 80px 24px 80px 24px;
}

.group-training__title {
    color: var(--title-color);
    text-align: left;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 38px;
    background-repeat: no-repeat;
    display: inline;
    letter-spacing: 0.76px;
    line-height: 41.8px;
}

.group-training__paragraph {
    color: var(--basic-text-color);
    text-align: left;
    font-family: 'Popins', sans-serif;
    font-weight: 500;
    font-size: 19px;
    margin-top: 25px;
    letter-spacing: normal;
    line-height: 29.64px;
}

.group-training__subparagraph-first {
    color: var(--accent-color);
    text-align: left;
    font-family: 'Popins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: 25px;
    letter-spacing: 0.85px;
    line-height: 25.5px;
    font-stretch: 100%;
}

.group-training__list {
    color: var(--basic-text-color);
    text-align: left;
    font-family: 'Popins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: 0.7px;
    line-height: 20.02px;
    font-stretch: 100%;
}

.group-training__subparagraph-second {
    color: var(--accent-color);
    text-align: left;
    font-family: 'Popins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: 0.85px;
    line-height: 25.5px;
    font-stretch: 100%;
}

.group-training__image {
    width: 327px;
    height: 423px;
}
